flows.json
[
    {
        "id": "idTab0-Global",
        "type": "tab",
        "label": "Start/Stop Global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "idTab1-devcomputenode-0",
        "type": "tab",
        "label": "testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "idMqttBroker1",
        "type": "mqtt-broker",
        "name": "Node 192.168.0.12",
        "broker": "192.168.0.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c936f2442ec9a858",
        "type": "git-nodes-config",
        "name": "Roksolana Antonyuk",
        "git": "git@github.com:rantonyuk/FlowsRepo_Test.git"
    },
    {
        "id": "idStart-Tab0",
        "type": "inject",
        "z": "idTab0-Global",
        "name": "state:start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "start",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "idLinkOut-Tab0"
            ]
        ]
    },
    {
        "id": "idStop-Tab0",
        "type": "inject",
        "z": "idTab0-Global",
        "name": "state:stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "stop",
        "payloadType": "str",
        "x": 100,
        "y": 150,
        "wires": [
            [
                "idLinkOut-Tab0"
            ]
        ]
    },
    {
        "id": "idLinkOut-Tab0",
        "type": "link out",
        "z": "idTab0-Global",
        "name": "",
        "mode": "link",
        "links": [
            "idlinkIn-idTab1"
        ],
        "x": 245,
        "y": 120,
        "wires": []
    },
    {
        "id": "idMqttOut1",
        "type": "mqtt out",
        "z": "idTab1-devcomputenode-0",
        "name": "Node 192.168.0.12",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "idMqttBroker1",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "idDebug1",
        "type": "debug",
        "z": "idTab1-devcomputenode-0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 110,
        "wires": []
    },
    {
        "id": "idFunction-idSimulation1-idTab1",
        "type": "function",
        "z": "idTab1-devcomputenode-0",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 110,
        "wires": [
            [
                "idMqttOut1",
                "idDebug1"
            ]
        ]
    },
    {
        "id": "idSimulation1-idTab1",
        "type": "single-value",
        "z": "idTab1-devcomputenode-0",
        "name": "flood:test:1",
        "deviceId": "Temperature:1",
        "deviceType": "DeviceMeasurement",
        "mqttTopic": "",
        "controlledProperty": [
            "flood"
        ],
        "source": "devcomputenode-0",
        "unit": "0/1",
        "interval": 1000,
        "initialValue": "0",
        "decimalPrecision": "0",
        "step": "1",
        "formula": "random",
        "minValue": "0",
        "maxValue": "1",
        "maxChange": "1",
        "slope": "",
        "offset": 0,
        "coefficient": "",
        "exponent": "",
        "a": "",
        "b": "",
        "c": 0,
        "base": "",
        "amplitude": 15,
        "frequency": 0.1,
        "verticalShift": 0,
        "horizontalShift": 1,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "idFunction-idSimulation1-idTab1"
            ]
        ]
    },
    {
        "id": "idStart-idSimulation1-idTab1",
        "type": "inject",
        "z": "idTab1-devcomputenode-0",
        "name": "state:start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "start",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "idSimulation1-idTab1"
            ]
        ]
    },
    {
        "id": "idStop-idSimulation1-idTab1",
        "type": "inject",
        "z": "idTab1-devcomputenode-0",
        "name": "state:stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "stop",
        "payloadType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "idSimulation1-idTab1"
            ]
        ]
    },
    {
        "id": "idlinkIn-idTab1",
        "type": "link in",
        "z": "idTab1-devcomputenode-0",
        "name": "",
        "links": [],
        "x": 50,
        "y": 20,
        "wires": [
            [
                "idSimulation1-idTab1"
            ]
        ]
    },
    {
        "id": "2714ad047ae87c9a",
        "type": "function",
        "z": "idTab1-devcomputenode-0",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "idDebug1",
                "idMqttOut1"
            ]
        ]
    },
    {
        "id": "0f9de8c7b8550bac",
        "type": "single-value",
        "z": "idTab1-devcomputenode-0",
        "name": "Volt meter:voltage:2",
        "deviceId": "Voltage-AC:2",
        "deviceType": "DeviceMeasurement",
        "mqttTopic": "",
        "controlledProperty": [
            "voltage"
        ],
        "source": "devcomputenode-0",
        "unit": "V",
        "interval": 1000,
        "initialValue": "0",
        "decimalPrecision": "0",
        "step": "1",
        "formula": "sinusoidal",
        "minValue": "0",
        "maxValue": "1",
        "maxChange": "1",
        "slope": "",
        "offset": 0,
        "coefficient": "",
        "exponent": "",
        "a": "",
        "b": "",
        "c": 0,
        "base": "",
        "amplitude": "0.1",
        "frequency": "0.01",
        "verticalShift": 0,
        "horizontalShift": 1,
        "x": 390,
        "y": 250,
        "wires": [
            [
                "2714ad047ae87c9a"
            ]
        ]
    },
    {
        "id": "52a229f55cf79385",
        "type": "inject",
        "z": "idTab1-devcomputenode-0",
        "name": "state:start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "start",
        "payloadType": "str",
        "x": 90,
        "y": 230,
        "wires": [
            [
                "0f9de8c7b8550bac"
            ]
        ]
    },
    {
        "id": "eea6a4617b712c17",
        "type": "inject",
        "z": "idTab1-devcomputenode-0",
        "name": "state:stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "state",
        "payload": "stop",
        "payloadType": "str",
        "x": 90,
        "y": 290,
        "wires": [
            [
                "0f9de8c7b8550bac"
            ]
        ]
    }
]